{% extends 'base.html' %}

{% block content %}
<div class="container">
	<!-- greets user with their username if they are logged in; otherwise greet them with guest-->
	{% if user.is_authenticated %}
	<label>Welcome {{user.username}}!</label><br />
	{% else %}
	<label>Welcome guest!</label><br />
	{% endif %}


</div>

	<a href="{% url 'addStory' %}">
		<button class="btn btn-secondary">&#65291; Add Story</button>
	</a>

	<a href="{% url 'myStories' %}">
		<button class="btn btn-secondary">My Stories</button>
	</a>

<p>
	<!-- Story view section -->
<h3 style="color: #353a47;">View Stories</h3>
<!-- loop stories and write to page -->

<ol>

	<h4 style="color: #353a47;">Unlinked stories</h4>
	{% for story in stories %}
	{% for link in story.links.all %}
	{% empty %}
	{% if story.status == "Active" %}
	<div class="listStory">
		<li style="list-style-type: none;">
			<div class="h5" style="font-size: 16pt; width: 250px">
				{{story.user}}
			</div>

			<div style="font-size: 9pt; position: float; padding-left: 90%; margin-top: -25px;">
				{{story.date}}
			</div>

			<div style="margin-top: 20px; margin-bottom: 3px;">
				{{story.subject}}
			</div>

			<div style="background-color: white; height: 150px; border-radius: 7px 7px 7px 7px;">
				<div style="margin-top: 5px; margin-bottom: 50px; padding-left: 10px; padding-top: 5px;">
					{{story.story}}
				</div>
			</div>

			<div style="font-size: 9pt; position: float; padding-left: 90%; padding-top: 2%;">
				{{story.location}} | {{story.community}}
			</div>

			{% if user.is_authenticated and story.user == user.username %}
			<div>
				<a href="{% url 'edit' storyID=story.storyID %}"> Edit Story </a>
			</div>
			{% else %}

			{% endif %}
		</li>
	</div>
	{% endif %}
	{% endfor %}
	{% endfor %}


	{% for link in links %}
	<h4 style="color: #353a47;">{{link}}</h4>
	<div class="listStory">
		{% for story in stories %}
		{% if link in story.links.all %}
		{% if story.status == "Active" %}
		<div class="listStory">
			<li style="list-style-type: none;">
				<div class="h5" style="font-size: 16pt; width: 250px">
					{{story.user}}
				</div>

				<div style="font-size: 9pt; position: float; padding-left: 90%; margin-top: -25px;">
					{{story.date}}
				</div>

				<div style="margin-top: 20px; margin-bottom: 3px;">
					{{story.subject}}
				</div>

				<div style="background-color: white; height: 150px; border-radius: 7px 7px 7px 7px;">
					<div style="margin-top: 5px; margin-bottom: 50px; padding-left: 10px; padding-top: 5px;">
						{{story.story}}
					</div>
				</div>

				<div style="font-size: 9pt; position: float; padding-left: 90%; padding-top: 2%;">
					{{story.location}} | {{story.community}}
				</div>

				{% if user.is_authenticated and story.user == user.username %}
				<div>
					<a href="{% url 'edit' storyID=story.storyID %}"> Edit Story </a>
				</div>
				{% else %}

				{% endif %}
			</li>
		</div>
		{% endif %}
		{% endif %}
		{% endfor %}
	</div>
	{% endfor %}
</ol>
</p> <br />

{% endblock %}