<!doctype html>{% load static %}
<html lang="en">

{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tell Me A Story 5.30</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="container">
    <!-- Display image on top of the page -->
    <img src ="https://images.squarespace-cdn.com/content/v1/5e9de4d1193113497eed5fdc/1603748673433-AQP9VS0JKNS8WLDS8A5W/Tell+Your+Story+Official+Logo+Oct+20-01.png?format=1500w"
    height="200px" class="center"/> <br/>

    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">
        <button>Log Out</button>
    </a>
    {% else %}
    <a href="{% url 'login' %}">
        <button>Log In</button>
    </a>
    {% endif %}

    {% if user.is_superuser %}
   <a href="{% url 'adminPage' %}">
        <button>Admin Console</button>
    </a>
    {% endif %}

    <!-- Story addition section -->
    <h1 style="color:darkblue;">Add/View Stories</h1>
    <!-- Form for adding story -->
    <div style="background-color: #FF7A59; padding: 25px; margin: 0px 0px 5% 0px; border-radius: 12px 12px 12px 12px; box-shadow: 6px 12px 1px purple;">
        <form action="{% url 'add' %}" method="post" style="background-color:#FF7A59">
            {% csrf_token %}
            <h3 style="color:darkblue;">Add Story:</h3>

            <!-- greets user with their username if they are logged in; otherwise greet them with guest-->
            {% if user.is_authenticated %}
                <label>User {{user.username}}</label><br/>
            {% else %}
                <label>User guest</label><br/>
            {% endif %}
            <label>Date</label>
            <input type="text" name="date">
            <label>Location</label>
            <input type="text" name="location">
            <label>Community</label>
            <input type="text" name="community">
            <label>Story ID</label>
            <input type="text" name="storyID"> <br/>
            <label>Subject</label>
            <textarea rows="1" cols="120" name="subject">
            </textarea> <br/>
            <label>Story</label>
            <textarea rows="5" cols="120" name="story">
            </textarea> <br/>
            <input type="Submit" class="center2"> <br/>
        </form>
    </div>
    <p>
    <!-- Story view section -->
        <h3 style="color:darkblue;">View Stories:</h3>
    <!-- loop stories and write to page -->
        <ol>
            {% for story in stories %}
            <li style="list-style-type: none;">
                <div style="background-color: #FF7A59; padding: 25px; margin: 0px 0px 5% 0px; border-radius: 12px 12px 12px 12px; box-shadow: 6px 12px 1px purple;">
                    <div style = "font-size: 16pt; width: 250px">
                        {{story.user}}
                    </div>
        
                    <div style = "font-size: 9pt; position: float; padding-left: 90%; margin-top: -25px;">
                        {{story.date}}
                    </div>
        
                    <div style = "margin-top: 20px; margin-bottom: 3px;">
                        {{story.subject}}
                    </div>
        
                    <div style = "background-color: white; height: 150px; border-radius: 7px 7px 7px 7px;">
                        <div style = "margin-top: 5px; margin-bottom: 50px; padding-left: 10px; padding-top: 5px;">
                        {{story.story}}
                        </div>
                    </div>
        
                    <div style = "font-size: 9pt; position: float; padding-left: 90%; padding-top: 2%;">
                        {{story.location}} | {{story.community}}
                    </div>
                    {% if user.is_authenticated and story.user == user.username or user.is_superuser%}
                        <div>
                            <a href = "{% url 'edit' storyID=story.storyID %}"> Edit Story </a>
                        </div>
                    {% endif %} 
                </div>
			{% endfor %}
			
			</li>
        </ol>
    </p> <br/>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<!-- Footer -->
<footer>
  <p class="center2">CMSC447 <br/> Tell Me A Story 5.30
    - Iteration 2. <br/>
</footer>
</html>