{% extends 'base.html' %}

{% block content %}
   <p>
	   <a href="{% url 'index' %}">
        <button>Home</button>
	   </a>
	   <a href="{% url 'admin' %}">
        <button>Manage Accounts</button>
	   </a>
   </p>

    <a href="{% url 'adminPage' %}">
        <button> &larr; Back </button>
    </a>


    <p>
    <!-- Story view section -->
        <h3 style="color: #353a47;">Deleted Stories</h3>
    <!-- loop stories and write to page -->
	Below are all the stories deleted by an administrator or the user: <br/>
	<strong> Note: </strong> You cannot restore stories that have been deleted by the user.
        <ol>
        {% for story in stories %}
			{% if story.status == "a_deleted" or story.status == "u_deleted" %}
			<form action="{% url 'aRestore' storyID=story.storyID %}" method="post">
				{% csrf_token %}
			<div class = "listStory">
				<li style="list-style-type: none;">
					<div class="h5" style = "font-size: 16pt; width: 250px">
					{{story.user}}
					</div>

					<div style = "font-size: 9pt; position: float; padding-left: 90%; margin-top: -25px;">
						{{story.date}}
					</div>

					<div style = "margin-top: 20px; margin-bottom: 3px;">
						{{story.subject}}
					</div>

					<div style = "background-color: white; height: 150px; border-radius: 7px 7px 7px 7px;">
						<div style = "margin-top: 5px; margin-bottom: 50px; padding-left: 10px; padding-top: 5px;">
						{{story.story}}
						</div>
					</div>

					<div style = "font-size: 9pt; position: float; padding-left: 90%; padding-top: 2%;">
						{{story.location}} | {{story.community}}
					</div>
					{% if story.status == "a_deleted" %}
       		 		<div class="col-md-2">
            			<button type="Submit" formaction="{% url 'aRestore' storyID=story.storyID %}" class="btn btn-outline-dark">Restore</button>
        			</div>
					{% else %}
					<p style="font-style: italic;">
					You cannot restore this story because it was deleted by the user.
					</p>
					{% endif %}
				</li>
			</div>
			{% endif %}
		{% endfor %}
			</form>
        </ol>
    </p> <br/>

{% endblock %}