
{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

	<div>
		<h3 style="color: rgba(53, 58, 71);" class="display-6">Login</h3>
	</div>

  <div class="formCss">

    <form method="post" class = "row g-3">
      {% csrf_token %}
      {{ form.as_p }}
		<div class="col-md-4">
          <button type="Submit" class="btn btn-primary">Login<br/> </button>
		</div>
      <br/>
    </form>
<br/>
      <a href="/accounts/signup">
        <button class="btn btn-primary">Create an account</button>
      </a>

<!-- Button that redirects without logging in-->
      <a href="/">
        <button class="btn btn-primary">Continue as Guest</button>
      </a>
      </div>
  </div>
</div>
{% endblock %}