{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="container-fluid">

	<div>
		<h3 style="color: rgba(53, 58, 71);" class="display-6">Sign Up</h3>
	</div>

  <div class="formCss">

    <form method="post" class = "row g-3">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="col-md-4">
          <button type="Submit" class="btn btn-primary">Sign Up<br/> </button>
		</div>
      <br/>
    </form>
  <br/>
   <a href="/accounts/login">
      <button class="btn btn-primary">Back to login</button>
    </a>

  </div>
</div>

{% endblock %}