{% extends 'base.html' %}

{% block content %}

<!-- Create form for editing the location, date, subject line, and story -->

<div class="container-fluid">

<div>
<h3 style="color: rgba(53, 58, 71);" class="display-6">Edit Story</h3>
</div>

	<a href="{% url 'index' %}">
        <button> &larr; Back (Home) </button>
    </a>
	<br/><br/>

<div class="formCss">
    <form action="{% url 'editReplace' storyID=story.storyID %}" method="post" class = "row g-3">
        {% csrf_token %}
		<div class="row g-2">
			<div class="col-md-2">
				<div class="form-floating">
					<input type="text" class="form-control" id="floatingInputGrid" placeholder="Enter Date" value="{{story.date}}" name="date">
					<label for="floatingInputGrid">Date</label>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-floating">
					<input type="text" class="form-control" id="floatingInputGrid" placeholder="Enter Location" value="{{story.location}}" name="location">
					<label for="floatingInputGrid">Location</label>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-floating">
				    <select id="floatingSelectGrid" class="form-select" aria-label="Floating label select example" name="community">
						<option value="" selected="selected">-----</option>
							{% for comm in comms %}
						<option value="{{ comm }}">{{ comm }}</option>
						{% endfor %}
					</select>
					<label for="floatingSelectGrid">Community</label>
			</div>
		</div>
		
		 <div class="col-md-12">
			<div class="form-floating">
				<input type="text" class="form-control" id="floatingInputGrid" placeholder="Story ID" value="{{story.storyID}}" name="storyID" disabled>
				<label for="floatingInputGrid">Story ID</label> 
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="form-floating">
				<input type="text" class="form-control" id="floatingInputGrid" placeholder="Write your story here" value="{{story.subject}}" name="subject">
				<label for="floatingInputGrid">Subject</label>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="form-floating">
				<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 150px" name="story"> {{story.story}}</textarea>
				<label for="floatingTextarea">Story</label>
			</div>
		</div>
		
		<div class="col-md-2">
			<button type="Submit" class="btn btn-outline-light">Edit Story </button> <br/>
		</div>
        {% if user.is_authenticated and story.user == user.username or user.is_superuser%}
        <div class="col-md-2">
            <button type="Submit" formaction="{% url 'deleteStory' storyID=story.storyID %}" class="btn btn-outline-light">Delete</button>
        </div> 
        {%endif%}
		</div>
    </form>
	</div>
</div>
{% endblock %}