{% extends 'base.html' %}

{% block content %}

<!-- Create form for removing links -->

<div class="container-fluid">
	<h3 style="color: rgba(53, 58, 71);" class="display-6"><Label>Remove Link</Label></h3>

	<div class="formCss">
		<form action="{% url 'removeLink' storyID=story.storyID %}" method="post" class="row g-3">
			{% csrf_token %}

			<div class="form-floating">
				<select id="floatingSelectGrid" class="form-select" aria-label="Floating label select example"
					name="link">
					<option value="" selected="selected">-----</option>
					{% for choice in links %}
					<option value="{{ choice }}">{{ choice }}</option>
					{% endfor %}
				</select>
				<label for="floatingSelectGrid">Choose Link</label>
			</div>

			<div class="col-md-2">
				<button type="Submit" class="btn btn-outline-light">Remove Link<br />
			</div>

			<div class="col-md-2">
				<a href="{% url 'myStories' %}"><button type="button" class="btn btn-outline-light">Cancel</button></a>
			</div>
		</form>
	</div>
</div>


{% endblock %}