{% extends 'base.html' %}

{% block content %}
	
	<!-- Search -->
	
	<!-- Search by community -->
	
<p>
	<!-- Story view section -->
<h3 style="color: #353a47;">Community Stories</h3>
<h2 style="color: #353a47;">{{comm}} Stories</h2><br />
<!-- loop stories and write to page -->

<ol>

	
	{% for story in stories %}
	{% for link in story.links.all %}
	{% empty %}
	{% if story.status == "Active" %}
	<div class="listStory">
		<li style="list-style-type: none;">
			
			<div class="h5" style="font-size: 16pt; width: 250px">
				{{story.user}}
			</div>

			<div style="font-size: 9pt; position: float; padding-left: 90%; margin-top: -25px;">
				{{story.date}}
			</div>

			<div style="margin-top: 20px; margin-bottom: 3px;">
				{{story.subject}}
			</div>

			<div style="background-color: white; height: 150px; border-radius: 7px 7px 7px 7px;">
				<div style="margin-top: 5px; margin-bottom: 50px; padding-left: 10px; padding-top: 5px;">
					{{story.story}}
				</div>
			</div>

			<div style="font-size: 9pt; position: float; padding-left: 90%; padding-top: 2%; padding-bottom: 2%;">
				{{story.location}} | {{story.community}}
			</div>

			{% if story.storyPic.url != '/media/False' %}
			<div class="card">
				<div class="card-body">
					<div class="card-img-bottom">
						<img class="card-img-bottom" src="{{story.storyPic.url}}">
					</div>
				</div>
			</div>
			{% endif %}
			
			{% if user.is_authenticated and story.user == user.username %}
			<div style = "padding-top: 2%;">
				<a href="{% url 'edit' storyID=story.storyID %}"> Edit Story </a>
			</div>
			{% else %}

			{% endif %}
		</li>
	</div>
	{% endif %}
	{% endfor %}
	{% endfor %}

</ol>
</p> <br />



{% endblock %}