{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- greets user with their username if they are logged in; otherwise greet them with guest-->
    {% if user.is_authenticated %}
    <label>Welcome {{user.username}}!</label><br />
    {% else %}
    <label>Welcome guest!</label><br />
    {% endif %}


</div>
<p>
    <!-- Story view section -->
<h3 style="color: #353a47;">Your Stories</h3>
<!-- loop stories and write to page -->

<ol>

    {% for story in stories %}
    {% if user.is_authenticated and story.user == user.username %}
    <div class="listStory">
        <li style="list-style-type: none;">
            <div class="h5" style="font-size: 16pt; width: 250px">
                {{story.user}}
            </div>

            <div style="font-size: 9pt; position: float; padding-left: 90%; margin-top: -25px;">
                {{story.date}}
            </div>

            <div style="margin-top: 20px; margin-bottom: 3px;">
                {{story.subject}}
            </div>

            <div style="background-color: white; height: 150px; border-radius: 7px 7px 7px 7px;">
                <div style="margin-top: 5px; margin-bottom: 50px; padding-left: 10px; padding-top: 5px;">
                    {{story.story}}
                </div>
            </div>

            <div style="font-size: 9pt; position: float; padding-left: 90%; padding-top: 2%;">
                {{story.location}} | {{story.community}}
            </div>

            <div class="row g-2">
                <div class="col-md-2">
                    <a href = "{% url 'edit' storyID=story.storyID %}"><button type="button" class="btn btn-outline-dark">Edit Story</button></a>
                </div>
                <div class="col-md-2">
                    <a href = "{% url 'linkPage' storyID=story.storyID %}"><button type="button" class="btn btn-outline-dark">Add Link</button></a>
                </div>
            </div>

        </li>
    </div>
    {% endif %}
    {% endfor %}
</ol>
</p> <br />
</div>

{% endblock %}